/* 公共样式 */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.lt {
  float: left;
}
.rt {
  float: right;
}
.clearfix {
  clear: both;
}
body {
  font: 0.29333333rem '微软雅黑';
  color: #666666;
  background: url(../img/common/bg.png);
}
.warper {
  width: 9.44444444rem;
  margin: 0 auto;
}
/* 头部 */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.38888889rem;
  background: #017e5c;
}
header h1 {
  text-align: center;
  display: inline-block;
  height: 1.38888889rem;
  line-height: 1.38888889rem;
  font-size: 0.48611111rem;
  color: #ffffff;
  width: 7.08333333rem;
}
header .l {
  width: 1.66666667rem;
  height: 1.38888889rem;
}
header .r {
  width: 1.25rem;
  height: 1.38888889rem;
}
/*
header .l a{
	display: inline-block;
	width: 100%;
	height: 100/72rem;
	background: #f2bd47 url("../img/common/xiangxiaJT.png") no-repeat;
	background-size: 120/72rem 100/72rem;
}
*/
header .r a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../img/common/sousuo.png") no-repeat;
  background-size: 1.25rem 1.38888889rem;
}
/* 内容 */
.content {
  width: 100%;
  position: absolute;
  top: 1.38888889rem;
  bottom: 1.66666667rem;
  overflow: auto;
}
/* 尾部 */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.66666667rem;
  background: #eeeeee;
}
footer ul li {
  float: left;
  width: 25%;
}
footer ul li a {
  text-align: center;
  width: 100%;
  height: 1.66666667rem;
  display: inline-block;
  line-height: 2.36111111rem;
  font-size: 0.34722222rem;
  color: #a6a6a6;
  background: url("../img/common/shouye.png") no-repeat;
  background-size: 2.5rem 0.97222222rem;
}
footer ul > li:nth-child(2) a {
  background: url("../img/common/fujin.png") no-repeat;
  background-size: 2.5rem 0.97222222rem;
}
footer ul > li:nth-child(3) a {
  background: url("../img/common/yonghu.png") no-repeat;
  background-size: 2.5rem 0.97222222rem;
}
footer ul > li:nth-child(4) a {
  background: url("../img/common/gengduo.png") no-repeat;
  background-size: 2.5rem 0.97222222rem;
}
